/*/build/
com_crashlytics_export_strings.xml
local.properties
.gradle/
.signing/

.Trashes
.Spotlight-V100
ehthumbs.db
Thumbs.db
.DS_Store
.DS_Store?
._*
app/app.iml
build/android-profile/*
.idea/libraries/*
app/src/main/java/com/kodbale/dkode/database/Solutions.java
.idea/libraries/*
